#!/bin/bash
#########################
# HELPERS
#########################

git_checkout_tool() {
  REPO=$1
  CLONE_PATH=$2
  GIT_REF=$3
  if [[ ! -d $CLONE_PATH || -z "$(git -C $CLONE_PATH rev-parse --is-inside-work-tree)" ]]; then
    git clone $REPO $CLONE_PATH
  fi

  if [[ "$GIT_REF" != "$(git -C $CLONE_PATH rev-parse HEAD)" ]]; then
    git -C $CLONE_PATH checkout $GIT_REF
  fi
}

maybe_brew_install() {
  for var in "$@"
  do
    brew list $var &> /dev/null || (echo "Installing $var" && brew install $var)
  done
}

#########################
# HOMEBREW
#########################
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
if [[ ! "$(command -v brew)" ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

maybe_brew_install \
      gum \
      livekit-cli \
      neovim \
      pure \
      ripgrep \
      virtualenv \
      websocat \
      fzf \
      zsh

#########################
# NERD FONTS
#########################
{{ if eq .chezmoi.os "linux" -}}
FONT_PATH=$HOME/.local/share/fonts
mkdir -p $FONT_PATH
if [[ -z "$(fc-list | grep Sauce)" ]]; then
  (cd ~/.local/share/fonts/ && wget -O - -o /dev/null https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.0/SourceCodePro.zip | jar -xv)
fi
{{ end -}}

########################
# KUBERNETES
if [[ ! -f $HOME/.krew/bin/kubectl-krew ]]; then
  echo "Installing krew"
  (
    set -x; cd "$(mktemp -d)" &&
    OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
    ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
    KREW="krew-${OS}_${ARCH}" &&
    curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
    tar zxvf "${KREW}.tar.gz" &&
    ./"${KREW}" install krew
  )
fi


